{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Burn Along Backend</h1>

<table>
    <thead>
        <tr>
            <th>ID #</th>
            <th>Episode Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr> -->
    </tbody>
</table>

{% endblock %}